:root {
    --error-color: #ff4747;
    --text-color: #FFFFFF;
    --background-color-darker: #191C1F;
    --background-color: #1E2127;
    --background-color-lighter: #292E37;
    --call-to-action: #FF0059;

    --call-to-action-positive: #8fff76;
    --call-to-action-negative: #ff5252;
}